@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
  --background: oklch(0.9949 0.0027 106.448);
  --foreground: oklch(0.2694 0.0531 121.2548);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2694 0.0531 121.2548);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2694 0.0531 121.2548);
  --primary: oklch(0.6729 0.152 122.4786);
  --primary-foreground: oklch(0.9898 0.0054 106.4972);
  --secondary: oklch(0.9018 0.0351 122.8296);
  --secondary-foreground: oklch(0.328 0.0599 120.8094);
  --muted: oklch(0.9668 0.007 122.3267);
  --muted-foreground: oklch(0.5488 0.0462 118.6137);
  --accent: oklch(0.9018 0.0351 122.8296);
  --accent-foreground: oklch(0.9898 0.0054 106.4972);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.9467 0.0112 122.3999);
  --input: oklch(0.9467 0.0112 122.3999);
  --ring: oklch(0.6729 0.152 122.4786);
  --chart-1: oklch(0.6729 0.152 122.4786);
  --chart-2: oklch(0.4422 0.0755 120.4808);
  --chart-3: oklch(0.5859 0.0922 124.984);
  --chart-4: oklch(0.7822 0.1461 109.3492);
  --chart-5: oklch(0.7553 0.0839 119.139);
  --sidebar: oklch(0.9873 0.0027 106.4485);
  --sidebar-foreground: oklch(0.2807 0.0461 120.3108);
  --sidebar-primary: oklch(0.6729 0.152 122.4786);
  --sidebar-primary-foreground: oklch(0.9898 0.0054 106.4972);
  --sidebar-accent: oklch(0.9388 0.0218 122.579);
  --sidebar-accent-foreground: oklch(0.4191 0.0907 122.0011);
  --sidebar-border: oklch(0.9333 0.0141 122.4508);
  --sidebar-ring: oklch(0.6729 0.152 122.4786);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Poppins', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.625rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(74, 40%, 10%);
  --shadow-2xs: 0rem 0.25rem 1rem 0rem hsl(74 40% 10% / 0.03);
  --shadow-xs: 0rem 0.25rem 1rem 0rem hsl(74 40% 10% / 0.03);
  --shadow-sm:
    0rem 0.25rem 1rem 0rem hsl(74 40% 10% / 0.05), 0rem 1px 2px -1px hsl(74 40% 10% / 0.05);
  --shadow: 0rem 0.25rem 1rem 0rem hsl(74 40% 10% / 0.05), 0rem 1px 2px -1px hsl(74 40% 10% / 0.05);
  --shadow-md:
    0rem 0.25rem 1rem 0rem hsl(74 40% 10% / 0.05), 0rem 2px 4px -1px hsl(74 40% 10% / 0.05);
  --shadow-lg:
    0rem 0.25rem 1rem 0rem hsl(74 40% 10% / 0.05), 0rem 4px 6px -1px hsl(74 40% 10% / 0.05);
  --shadow-xl:
    0rem 0.25rem 1rem 0rem hsl(74 40% 10% / 0.05), 0rem 8px 10px -1px hsl(74 40% 10% / 0.05);
  --shadow-2xl: 0rem 0.25rem 1rem 0rem hsl(74 40% 10% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1597 0.0176 118.4565);
  --foreground: oklch(0.9873 0.0027 106.4485);
  --card: oklch(0.1904 0.0235 119.3763);
  --card-foreground: oklch(0.9873 0.0027 106.4485);
  --popover: oklch(0.1904 0.0235 119.3763);
  --popover-foreground: oklch(0.9873 0.0027 106.4485);
  --primary: oklch(0.6729 0.152 122.4786);
  --primary-foreground: oklch(0.9873 0.0027 106.4485);
  --secondary: oklch(0.2659 0.0324 119.3597);
  --secondary-foreground: oklch(0.9018 0.0351 122.8296);
  --muted: oklch(0.2356 0.0236 118.9187);
  --muted-foreground: oklch(0.7549 0.0379 117.9833);
  --accent: oklch(0.5236 0.1036 121.2874);
  --accent-foreground: oklch(0.9873 0.0027 106.4485);
  --destructive: oklch(0.3996 0.1348 25.7682);
  --destructive-foreground: oklch(0.9873 0.0027 106.4485);
  --border: oklch(0.3041 0.039 119.4925);
  --input: oklch(0.3041 0.039 119.4925);
  --ring: oklch(0.6729 0.152 122.4786);
  --chart-1: oklch(0.6729 0.152 122.4786);
  --chart-2: oklch(0.5236 0.1036 121.2874);
  --chart-3: oklch(0.7521 0.0891 124.1918);
  --chart-4: oklch(0.6322 0.1045 109.0492);
  --chart-5: oklch(0.4592 0.0478 118.997);
  --sidebar: oklch(0.1437 0.0152 117.3715);
  --sidebar-foreground: oklch(0.9681 0.0067 106.5248);
  --sidebar-primary: oklch(0.6729 0.152 122.4786);
  --sidebar-primary-foreground: oklch(0.9873 0.0027 106.4485);
  --sidebar-accent: oklch(0.2659 0.0324 119.3597);
  --sidebar-accent-foreground: oklch(0.9873 0.0027 106.4485);
  --sidebar-border: oklch(0.3041 0.039 119.4925);
  --sidebar-ring: oklch(0.6729 0.152 122.4786);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Poppins', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --radius: 0.625rem;
  --shadow-x: 0rem;
  --shadow-y: 1rem;
  --shadow-blur: 2rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0rem 1rem 2rem 0rem hsl(0 0% 0% / 0.2);
  --shadow-xs: 0rem 1rem 2rem 0rem hsl(0 0% 0% / 0.2);
  --shadow-sm: 0rem 1rem 2rem 0rem hsl(0 0% 0% / 0.4), 0rem 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0rem 1rem 2rem 0rem hsl(0 0% 0% / 0.4), 0rem 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0rem 1rem 2rem 0rem hsl(0 0% 0% / 0.4), 0rem 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0rem 1rem 2rem 0rem hsl(0 0% 0% / 0.4), 0rem 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0rem 1rem 2rem 0rem hsl(0 0% 0% / 0.4), 0rem 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0rem 1rem 2rem 0rem hsl(0 0% 0% / 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground tracking-normal;
  }
}
